
<header>
  <app-menu-bar></app-menu-bar>

</header>

<app-blog-title></app-blog-title>
<div class="posts-container">
  <div class="main-post">
    <app-big-card
      pictureCover="../../../assets/images/not_found.png"
      postTitle="Post Title 0"
      postPreviewText="Post preview text"
    ></app-big-card>
  </div>
  <div class="other-posts">
    <app-small-card
      postPicture="../../../assets/images/not_found.png"
      postTitle="Post Title 1"
    ></app-small-card>
    <app-small-card
      postPicture="../../../assets/images/not_found.png"
      postTitle="Post Title 2"
    ></app-small-card>
    <app-small-card
      postPicture="../../../assets/images/not_found.png"
      postTitle="Post Title 3"
    ></app-small-card>

  </div>

</div>
